@import "tailwindcss";

/* Light Mode */
body.light {
    background-color: white;
    color: black;
  }
  
  /* Dark Mode */
  body.dark {
    background-color: #121212;
    color: white;
  }

  body.dark .search {
    color:black;
  }

  body.dark .filter {
    color: white;
  }

  body.dark .people {
    color: black;  /* Ensure names are visible in light mode */
  }

  body.dark .name {
    color: white;
  }

  body.dark .button {
    color: white;
  }

  
  